@import url(./section2.css);
@import url(./question.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
font-family: SpotifyMixUI,CircularSp,Helvetica,Arial,sans-serif;
}
#header{
    /* border: 2px solid red; */
    height: 10vh;
    width: 100%;
    background: #000;
    position: relative;
    justify-items: center;
}
#header2{
    /* border: 2px solid blue; */
    height: 2.5em;
    width: 80%;
    position: relative;
    justify-content: space-around;
    margin: 0;
    top: 15px;
}

#Layer_1{
    /* border: 2px solid red; */
    height: inherit;
    width: 130px;
    fill: white;
    height: 100%;
    position: absolute;
    top: 5px;
    right: 86%;
    text-align: center;
    /* font-size: 2000px; */
    cursor: pointer;


}
#header2 nav{
    /* border: 2px solid rgb(221, 142, 192); */
    height: inherit;
    width: 50%;
    position: relative;
    left: 48%;
}
#header2 ul{
    /* border: 2px solid rgb(2, 232, 44); */
    height: inherit;
    width: 100%;
    position: relative;
    top: 10px;
    justify-content:space-evenly;
    display: flex;
    color: #fff;
    list-style-type:none;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    padding-right: 20px;
}
#header2 ul>li:hover{
    color: #1ed760;
    cursor: pointer;
}
/* section 2 */
#students{
    /* border: 2px solid rgb(130, 18, 222); */
    /* margin-top: 100px; */
    height: 65vh;
    width: 100%;
    background: rgb(180, 155, 200);
    position: relative;
    bottom: 100px;
}
#middel{
    /* border: 2px solid red; */
    position: relative;
    top: 100px;
    height: inherit;
    width: 140vh;
    margin: auto;
}
#Premium {
    position: relative;
    justify-items: center;
    
}
    
#Premium h1{
    /* border: 2px solid rgb(178, 205, 27); */
    margin-top: 100px;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    width: auto;
    padding-top: 25px;
}
#Premium h3{
    /* border: 2px solid rgb(27, 205, 80); */
    font-size: 25px;
    margin-top: 23px;
    font-weight: 100;
}
#para{
    /* border: 2px solid rgb(242, 234, 14); */
    height: 50px;
    width: 165px;
    background: #000;
    color: #fff;
    text-align: center;
    align-content: center;
    border-radius: 9999px;
    margin-top: 40px;
    font-size: 18px;
    cursor: pointer;

}
#para:hover{
    transform: scale(1.1);
    transition: 90ms;
}
 #Premium div+p{
    /* border: 2px solid #401ed7; */
    text-align: center;
    font-size: 0.75em;
    margin-top: 40px;
    padding: 10px;
    font-size: 12px;
    width: 55%;
    line-height: 20px;
    font-weight:300;

 }

 /* section3 */
 #students1{
    /* border: 2px solid rgb(130, 18, 222); */
    /* margin-top: 100px; */
    height: 65vh;
    width: 100%;
    background: rgb(180, 155, 200);
    position: relative;
    bottom: 100px;
}
#middel1{
    /* border: 2px solid red; */
    position: relative;
    top: 100px;
    height: inherit;
    width: 140vh;
    margin: auto;
}
#Premium1 {
    position: relative;
    /* display: flex;
    align-items: center; */
    justify-items: center;
}
    
#Premium1 h1{
    /* border: 2px solid rgb(178, 205, 27); */
    margin-top: 100px;
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    width: auto;
    padding-top: 25px;
}
#Premium1 h3{
    /* border: 2px solid rgb(27, 205, 80); */
     font-size: 25px;
    margin-top: 23px;
    font-weight: 100;
}
#para1{
    /* border: 2px solid rgb(242, 234, 14); */
    height: 50px;
    width: 165px;
    background: #000;
    color: #fff;
    text-align: center;
    align-content: center;
    border-radius: 9999px;
    margin-top: 40px;
    font-size: 18px;
    cursor: pointer;
}
#para1:hover{
    transform: scale(1.1);
    transition: 90ms;
}
 #Premium1 div+p{
    /* border: 2px solid #401ed7; */
    text-align: center;
    font-size: 0.75em;
    margin-top: 40px;
    padding: 10px;
    font-size: 12px;
    width: 60%;
    line-height: 20px;
    font-weight:300;
 }
 #main1{
     /* border: 2px solid blue; */
     height: 380px;
 }